{% include 'header.html' %}

<body>

<form action="{{url_for('saveuser') }}" method = "POST">
  <table align="center">
    <h3 align="center">User Sign Up </h3>
    <tr>
      <td>First Name</td>
      <td><input type="text" name="firstname" size=50</td>
    </tr>

    <tr>
      <td>Last Name</td>
      <td><input type="text" name="lastname" size=50</td>
    </tr>

    <tr>
      <td>Gender</td>
      <td>
      <select name="gender">
      <option>-- Gender --</option>
      <option value="Male">Male</option>
      <option value="Famele">Female</option>

      </select>
      </td>
    </tr>

    <tr>
      <td>Email</td>
      <td><input type="text" name="email" size=50</td>
    </tr>

    <tr>
      <td>Username</td>
      <td><input type="text" name="username" size=50</td>
    </tr>

    <tr>
      <td>Password</td>
      <td><input type="password" name="password" size=50</td>
    </tr>

    <tr>
  		<td colspan=3 align="center"><input type="submit" value="Create" size=10></td>
  	</tr>
  </table>
</form>


</body>
</html>
